
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
        <h2>Register Here!</h2>
      </div>

      <!-- Login Form -->
      <form #registerForm="ngForm">
        <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="form.loginId" placeholder="login Id">
        <input type="password" id="password" class="fadeIn third" name="password" [(ngModel)]="form.password" placeholder="password">
        <input type="password" id="confirmpassword" class="fadeIn third" name="confirmPassword" [(ngModel)]="form.confirmPassword" placeholder="Confirm password">
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Agree to Term & conditions</label>
          </div>
        <input type="button" (click)="signUp()" class="fadeIn fourth" value="Register">
      </form>
    </div>
  </div>
